.banner {
  display: grid;
  place-content: center;
  height: calc(100vh - 215px);
}

.flower1,
.flower2,
.flower3 {
  position: absolute;
  opacity: 0.8;
}

.flower1 {
  top: 15px;
  left: 10px;
}

.flower2 {
  right: 0;
  bottom: 3vh;
}

.flower3 {
  right: 3vw;
  top: 15vh;
}

.content {
  display: grid;
  width: min(1100px, 90vw);
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: -15vh;
  text-align: center;
  grid-template-areas:
    'pattyImg heading'
    'pattyImg pText'
    'pattyImg button';
  opacity: 0;
  transform: translateY(1rem);
  animation: fade-in-up 200ms linear forwards;
  animation-delay: 300ms;
}

@keyframes fade-in-up {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.content h1 {
  grid-area: heading;
}

.content p {
  grid-area: pText;
  max-width: 500px;
}

.content img {
  grid-area: pattyImg;
  animation: float 7s ease-in-out infinite;
}

@keyframes float {
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@media (prefers-reduced-motion) {
  .content {
    opacity: 1;
    transform: translateY(0);
    animation: none;
  }

  .content img {
    animation: none;
  }
}

@media screen and (pointer: coarse) and (orientation: landscape) {
  .content {
    margin-top: -20vh;
  }
}

@media screen and (max-width: 900px) {
  .banner {
    height: auto;
  }

  .flower1,
  .flower2,
  .flower3 {
    display: none;
  }

  .content {
    height: auto;
    gap: 1.5rem;
    grid-template-areas:
      'heading'
      'pattyImg'
      'pText'
      'button';
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .content h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .content p {
    max-width: 30ch;
  }

  .content img {
    width: 275px;
    height: fit-content;
    object-fit: contain;
    margin: 0 auto;
    margin-top: -10px;
  }
}
