.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  height: calc(100vh - 29vh);
  margin: 0 10vw;
  opacity: 0;
  transform: translateY(1rem);
  animation: fade-in 300ms linear forwards;
  animation-delay: 500ms;
}

@keyframes fade-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.attnText {
  display: block;
  font-family: var(--displayFont);
  font-size: clamp(5rem, 12vh, 8rem);
  line-height: 0.85;
  color: var(--primaryColor);
  margin: 0.5rem 0 1.5rem 0;
  text-shadow: var(--textShadow);
}

.banner p {
  max-width: 375px;
}

.krabbyPatty {
  animation: float 7s ease-in-out infinite;
}

.krabbyPattyMobile {
  display: none;
  animation: float 7s ease-in-out infinite;
}

.banner button {
  font-size: 2.5rem;
  background-color: var(--primaryColor);
  padding: 0.25rem 2rem;
  border-radius: 1.5rem;
  transform: skew(-10deg) rotate(-5deg);
  margin: 2rem 0;
  box-shadow: 5px 5px var(--white);
  transition: box-shadow 200ms linear;
}

.banner button:hover {
  box-shadow: 7px 7px var(--white);
}
.banner button:active {
  box-shadow: 3px 3px var(--white);
}

@keyframes float {
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@media screen and (max-width: 1000px) {
  .banner {
    height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    gap: 0.5rem;
  }

  .banner h1 {
    text-align: center;
  }

  .krabbyPatty {
    display: none;
  }

  .krabbyPattyMobile {
    display: block;
    margin: 0.5rem auto 0 auto;
  }
}
