.employeeContainer {
  display: grid;
  place-content: center;
  width: 100%;
  height: 950px;
  background-image: url('../../public/images/wave.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.employeeContainer h1 {
  color: white;
  text-shadow: none;
  max-width: 600px;
  text-align: center;
  line-height: 1.1;
  padding-top: 10rem;
}

.employeeContainer figure {
  margin: 1.5rem auto;
  text-align: center;
  font-size: 1.5rem;
}
