.employeeContainer {
  position: relative;
  display: grid;
  place-content: center;
  gap: 0.75rem;
  width: 100%;
  height: 825px;
  margin-top: 175px;
  margin-bottom: 5rem;
  background-color: var(--primaryColor);
}

.shape {
  position: absolute;
  top: -150px;
  width: 100%;
  overflow: hidden;
  transform: scaleY(-1);
}

.shape svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.shape .shapeFill {
  fill: var(--primaryColor);
}

.shapeBottom {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -10vw;
  overflow: hidden;
  fill: var(--primaryColor);
}

.employeeContainer h1 {
  color: white;
  text-shadow: none;
  max-width: 500px;
  text-align: center;
  line-height: 1.1;
  margin-top: -2rem;
  font-size: 5.5rem;
}

.employeeContainer figure {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
}

.leftBurst,
.rightBurst {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 225px;
  width: 100px;
  overflow: hidden;
  opacity: 0.6;
}

.leftBurst {
  left: 5px;
}

.rightBurst {
  right: -4px;
}

.leftBurst > *,
.rightBurst > * {
  width: 90px;
  height: 3px;
  background: linear-gradient(to right, #fbc4c4, #f68c9c);
  border-radius: 3px;
}

.leftBurst > * {
  background: linear-gradient(to right, #f68c9c, #fbc4c4);
}

.leftBurst div:nth-child(1) {
  transform: rotate(20deg);
}

.leftBurst div:nth-child(2) {
  width: 60px;
}

.leftBurst div:nth-child(3) {
  transform: rotate(-20deg);
}

.rightBurst div:nth-child(1) {
  transform: rotate(-20deg);
}

.rightBurst div:nth-child(2) {
  width: 60px;
  margin-left: 15px;
}

.rightBurst div:nth-child(3) {
  transform: rotate(20deg);
}

@media screen and (max-width: 600px) {
  .employeeContainer {
    height: 600px;
    margin-top: 125px;
    margin-bottom: 2rem;
  }

  .shape svg {
    transform: scaleY(0.4) scaleX(1.1);
    height: 215px;
  }

  .shapeBottom {
    bottom: -11vw;
  }

  .employeeContainer h1 {
    font-size: 3.5rem;
  }

  .employeeContainer figure img {
    width: 200px;
    object-fit: contain;
    clip-path: circle(35%);
    margin-top: -2.5rem;
  }

  .leftBurst {
    left: 25px;
  }

  .rightBurst {
    right: 15px;
  }

  .leftBurst,
  .rightBurst {
    top: 15%;
    height: 175px;
    width: 75px;
  }

  .leftBurst > *,
  .rightBurst > * {
    width: 60px;
  }

  .leftBurst div:nth-child(2) {
    width: 35px;
  }
  .rightBurst div:nth-child(2) {
    width: 35px;
    margin-left: 15px;
  }

  .employeeContainer figure figcaption {
    margin-top: -30px;
  }
}
