.checkout {
  display: grid;
  place-content: center;
  height: calc(100vh - 115px);
  width: min(700px, 90vw);
  margin: 0 auto;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  text-align: center;
}

.checkout h1 {
  margin-top: -5vh;
}

.checkout a {
  margin-top: 3rem;
}

@media screen and (max-width: 900px) {
  .checkout {
    height: calc(100vh - 350px);
    max-height: -webkit-fill-available;
  }
}
