.successModal {
  position: fixed;
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
}

.successModalContent {
  text-align: center;
  background-color: var(--successColor);
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  transform: scale(0);
  opacity: 0;
  animation: grow 75ms linear forwards;
  animation-delay: 50ms;
}

@keyframes grow {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.successModalContent img {
  width: 50px;
  margin-bottom: 0.5rem;
}

.addSign {
  position: absolute;
  top: 15px;
  left: 49%;
  font-size: 1.2rem;
  transform: translateY(-25px);
  animation: drop 125ms ease-out forwards;
  animation-delay: 200ms;
}

@keyframes drop {
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .successModalContent {
    width: 80vw;
    padding: 2rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem rgba(0 0 0 / 30%);
  }

  .itemName {
    max-width: 200px;
    line-height: 1.2;
    margin: 0 auto;
  }

  .addSign {
    top: 31px;
  }
}
