.successModal {
  position: fixed;
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
}

.successModalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  text-align: center;
  line-height: 1.2;
  background-color: var(--successColor);
  padding: 2rem;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  box-shadow: 1.5rem 2.5rem 3rem -3rem rgba(0 0 0 / 30%);
  animation: grow 75ms linear forwards;
  animation-delay: 50ms;
}

@keyframes grow {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cart {
  position: relative;
}

.cart img {
  width: 50px;
  margin-bottom: 0.5rem;
}

.addSign {
  position: absolute;
  top: 2px;
  left: 48%;
  font-size: 1.2rem;
  transform: translateY(-30px);
  animation: drop 125ms ease-out forwards;
  animation-delay: 200ms;
}

@keyframes drop {
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 900px) {
  .itemName {
    max-width: 200px;
    line-height: 1.2;
    margin: 0 auto;
  }
}
