.bubbles {
  /* This prevents the page from scrolling down past the footer when a bubble is being generated */
  position: fixed;
  pointer-events: none;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.bubble1 {
  position: relative;
  width: 45px;
  height: 45px;
  left: 10%;
  animation: float 15s linear reverse infinite;
}

.bubble2 {
  width: 30px;
  height: 30px;
  left: 25%;
  animation: float 15s linear reverse infinite;
  animation-delay: 200ms;
}

.bubble3 {
  width: 20px;
  height: 20px;
  left: 65%;
  animation: float 30s linear reverse infinite;
  animation-delay: 800ms;
}

.bubble4 {
  position: relative;
  width: 55px;
  height: 55px;
  left: 85vw;
  animation: float 40s linear reverse infinite;
  animation-delay: 1.5s;
}

@keyframes float {
  100% {
    transform: translateY(100vh) translateX(0);
  }
}

@media (prefers-reduced-motion) {
  .bubbles {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .bubble4 {
    left: 50vw;
  }
}
