.hamburgerBtn {
  display: none;
}

@media screen and (max-width: 900px) {
  .hamburgerBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 25px;
    right: 20px;
    width: 35px;
    height: 30px;
    z-index: 50;
  }

  .hamburgerBtn span {
    width: 100%;
    height: 4px;
    background-color: var(--white);
    border-radius: 3px;
    transition: all 200ms linear;
  }

  .hamburgerBtn.slideIn span:nth-child(1) {
    position: relative;
    top: 17px;
    transform: rotate(45deg);
  }

  .hamburgerBtn.slideIn span:nth-child(2) {
    display: none;
  }

  .hamburgerBtn.slideIn span:nth-child(3) {
    position: relative;
    top: -10px;
    transform: rotate(-45deg);
  }

  .slideIn {
    animation: slide-in 100ms ease-out forwards;
  }

  @keyframes slide-in {
    100% {
      transform: translateX(0);
    }
  }
}

@media (prefers-reduced-motion) {
  .hamburgerBtn span {
    transition: none;
  }
}
