.header {
  height: 115px;
}

.logo {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 100%;
  object-fit: contain;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  padding-right: 7rem;
}

.header nav ul {
  display: flex;
  gap: 2rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.header nav li:hover:not(.cartContainer) {
  color: var(--primaryColor);
}

.cartContainer {
  position: fixed;
  display: grid;
  place-content: center;
  right: 3vw;
  z-index: 10;
  background-color: #00c0fae6;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.cartContainer img {
  width: 33px;
  height: 33px;
  object-fit: contain;
  padding-top: 5px;
}

.numItemsInCart {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.95rem;
  width: 20px;
  height: 20px;
  padding-bottom: 3px;
  border-radius: 50%;
  background-color: var(--primaryColor);
  transition: transform 100ms linear;
}

@media screen and (max-width: 1100px) {
  .header nav li:not(.cartContainer) {
    display: none;
  }
}

@media screen and (pointer: coarse) and (orientation: landscape) {
  .logo {
    width: 185px;
    top: 15px;
  }

  .header nav li:not(.cartContainer) {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    height: 160px;
  }

  .logo {
    width: 150px;
    top: 0;
  }

  .cartContainer {
    height: 50px;
    bottom: 0;
    right: 0;
    border-radius: 0;
    width: 100vw;
    border-top: 3px solid #00c0fae6;
    box-shadow: -5px -5px 10px -7px rgba(0 0 0 / 30%);
  }

  /* Makes entire bottom bar clickable */
  .cartContainer a {
    display: grid;
    place-content: center;
    width: 100vw;
  }

  .cartContainer img {
    margin-top: 5px;
  }

  .numItemsInCart {
    left: 54%;
    transform: translateX(-54%);
    top: 2px;
    width: 20px;
    height: 20px;
    padding-bottom: 3px;
  }
}
