.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(350px, 80vw);
  margin: 0 auto;
  /* height: calc(90vh - 115px); */
  margin-top: 10vh;
}

.cart h1 {
  color: white;
  text-shadow: none;
  font-size: 5.5rem;
  margin-bottom: 2rem;
}

.cart li {
  display: flex;
  justify-content: space-between;
  width: min(350px, 80vw);
  border-bottom: 1px solid rgb(85, 176, 250);
  padding: 1rem 0;
}

.quantity {
  display: flex;
  justify-content: space-around;
  background-color: var(--primaryColor);
  border-radius: var(--borderRadius);
  padding: 0 1rem;
  margin-top: 0.5rem;
  width: 100px;
}

.quantity button {
  padding: 0 0.3rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: var(--primaryColor);
  transition: filter 150ms linear;
}

.quantity button:hover {
  filter: brightness(1.1);
}

.quantity p {
  line-height: 1.3;
  margin: 0 1rem;
  padding-bottom: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  width: min(350px, 80vw);
  font-size: 2rem;
}

.totalPrice {
  font-size: 2.25rem;
}

.checkoutBtn {
  background-color: var(--primaryColor);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  border-radius: var(--borderRadius);
  padding: 0.5rem 0 0.75rem 0;
  margin-top: 1.5rem;
  transition: filter 150ms linear;
}

.checkoutBtn:hover {
  filter: brightness(1.1);
}

@media screen and (max-width: 900px) {
  .cart {
    margin-top: 0;
  }

  .cart h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
}
