.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 115px);
  opacity: 0;
  animation: fade-in 100ms linear forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(350px, 80vw);
  margin: 0 auto;
  flex: 1;
}

.cart h1 {
  color: white;
  text-shadow: none;
  font-size: 5.5rem;
  margin-bottom: 2rem;
}

.cart li {
  display: flex;
  justify-content: space-between;
  width: min(350px, 80vw);
  border-bottom: 1px solid rgb(85, 176, 250);
  padding: 1rem 0;
}

.quantity {
  display: flex;
  justify-content: space-between;
  background-color: var(--primaryColor);
  width: 120px;
  border-radius: var(--borderRadius);
  margin-top: 0.5rem;
  padding: 0 0.25rem;
}

.quantity button {
  padding: 0 0.75rem 4px 0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  transition: all 150ms linear;
}

.quantity button:hover {
  filter: brightness(1.2);
}

.quantity p {
  margin: 0 1rem;
  padding-bottom: 5px;
}

.total {
  display: flex;
  justify-content: space-between;
  width: min(350px, 80vw);
  font-size: 2rem;
}

.totalPrice {
  font-size: 2.25rem;
}

@media screen and (max-width: 900px) {
  .cart {
    margin-top: 0;
  }

  .cart h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  .quantity {
    margin-top: 0.5rem;
    padding: 0.25rem 0.25rem;
  }
}
