.light {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -540px;
  animation: rotate 150s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
