.light {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -650px;
  animation: rotate 150s linear infinite;
  z-index: -1;
}

@keyframes rotate {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .light {
    width: 300px;
    height: 300px;
    margin-top: -335px;
    animation: none;
  }
}
