.light {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -650px;
  animation: rotate 150s linear infinite;
  z-index: -1;
}

@keyframes rotate {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

.successModal {
  position: absolute;
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(0 192 250 / 70%);
  z-index: 20;
  opacity: 0;
  animation: fade-in 150ms linear forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.successModal p {
  background-color: var(--successColor);
  padding: 1rem 2rem;
  border-radius: var(--borderRadius);
  transform: scale(0);
  animation: grow 75ms linear forwards;
  animation-delay: 50ms;
}

@keyframes grow {
  100% {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion) {
  .light {
    animation: none;
  }
}

@media screen and (max-width: 600px) {
  .light {
    width: 300px;
    height: 300px;
    margin-top: -335px;
    animation: none;
  }
}
